.cycles {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;
}

.cycleDots {
  display: flex;
  gap: 0.5rem;
}

.cycleDot {
  width: 2rem;
  height: 2rem;
  background-color: var(--primary);
  border-radius: 50%;
}

.workTime {
  background: var(--cycle-workTime);
}

.shortBreakTime {
  background: var(--cycle-shortBreakTime);
}

.longBreakTime {
  background: var(--cycle-longBreakTime);
}